*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif !important;
}

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	font-family: "Open Sans", sans-serif !important;
	font-weight: 400;
	color: #d5dddf;
}
